Repository mitchallen/python-coin-flip: changes, and which Codecov flags are due for each by the changed paths.
All: mitchallen-roll, mitchallen-coin

.codecov.yml:

coverage:
  status:
    project:
      default:
        # Require overall project coverage
        target: auto
        threshold: 0%
    patch:
      default:
        # Require patch coverage
        target: auto
        threshold: 0%

# Configure flags for monorepo packages
flag_management:
  default_rules:
    carryforward: true

flags:
  mitchallen-roll:
    paths:
      - packages/mitchallen-roll/
    carryforward: true
  mitchallen-coin:
    paths:
      - packages/mitchallen-coin/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

Update mitchallen-roll uv.lock with coverage dependencies
  packages/mitchallen-roll/uv.lock
Due: mitchallen-roll

Add CI testing and coverage badges to mitchallen-coin
  .github/workflows/publish-coin.yml
  .github/workflows/test-coin.yml
  packages/mitchallen-coin/README.md
  packages/mitchallen-coin/pyproject.toml
  packages/mitchallen-coin/uv.lock
Due: mitchallen-coin

Bump mitchallen-roll to 1.0.10
  packages/mitchallen-roll/pyproject.toml
Due: mitchallen-roll

Require tests to pass before publishing packages
  .github/workflows/publish-coin.yml
  .github/workflows/publish-roll.yml
  packages/mitchallen-roll/uv.lock
Due: mitchallen-roll

Bump mitchallen-roll to 1.0.11
  packages/mitchallen-roll/pyproject.toml
Due: mitchallen-roll

Bump mitchallen-coin to 1.0.9
  packages/mitchallen-coin/pyproject.toml
Due: mitchallen-coin

Fix tag naming documentation in README
  README.md
  packages/mitchallen-coin/uv.lock
  packages/mitchallen-roll/uv.lock
Due: mitchallen-roll, mitchallen-coin

Fix inconsistent tag naming in publish-coin target
  Makefile
Due: none

Bump mitchallen-coin to 1.0.10
  packages/mitchallen-coin/pyproject.toml
Due: mitchallen-coin

Fix publish targets to include uv.lock in version bump commits
  Makefile
  packages/mitchallen-coin/uv.lock
Due: mitchallen-coin

Bump mitchallen-coin to 1.0.11
  packages/mitchallen-coin/pyproject.toml
  packages/mitchallen-coin/uv.lock
Due: mitchallen-coin

Update README documentation to accurately describe packages
  README.md
  packages/mitchallen-coin/README.md
Due: mitchallen-coin

Bump mitchallen-coin to 1.0.12
  packages/mitchallen-coin/pyproject.toml
  packages/mitchallen-coin/uv.lock
Due: mitchallen-coin

Bump mitchallen-roll to 1.0.12
  packages/mitchallen-roll/pyproject.toml
  packages/mitchallen-roll/uv.lock
Due: mitchallen-roll

Remove redundant publish.yml workflow
  .github/workflows/publish.yml
Due: none

Bump mitchallen-coin to 1.0.13
  packages/mitchallen-coin/pyproject.toml
  packages/mitchallen-coin/uv.lock
Due: mitchallen-coin

Bump mitchallen-roll to 1.0.13
  packages/mitchallen-roll/pyproject.toml
  packages/mitchallen-roll/uv.lock
Due: mitchallen-roll

Bump mitchallen-coin to 1.0.14
  packages/mitchallen-coin/pyproject.toml
  packages/mitchallen-coin/uv.lock
Due: mitchallen-coin

Update package descriptions for better clarity
  packages/mitchallen-coin/pyproject.toml
  packages/mitchallen-roll/pyproject.toml
Due: mitchallen-roll, mitchallen-coin

Bump mitchallen-coin to 1.0.15
  packages/mitchallen-coin/pyproject.toml
  packages/mitchallen-coin/uv.lock
Due: mitchallen-coin

Bump mitchallen-roll to 1.0.14
  packages/mitchallen-roll/pyproject.toml
  packages/mitchallen-roll/uv.lock
Due: mitchallen-roll
